email=david.hezky@seznam.cz
#metrics-registry=""
metrics-registry=http://registry.npmjs.org/
package-lock=true
private=true
registry=http://registry.npmjs.org/
#registry=http://localhost:4873
ca=null
@babel:registry=http://registry.npmjs.org/
